In [1]:
import numpy as np
import pandas as pd

from catboost import CatBoostRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

## Обучение модели:

**в качестве модели взят градиентный бустинг с дефолтными параметрами**

*На валидации модель на двух признаках (широта и долгота) показала наилучшее качество (проверялись все доп. признаки, отбор признаков из катбуста, понижение размерности через PCA), поэтому оставлен вариант обучения на исходном трейне*

In [3]:
train = pd.read_csv('train.csv')
x_train = train.drop(columns=['score'])
y_train = train['score']
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train)

In [4]:
rgs = CatBoostRegressor(verbose=False)
rgs.fit(x_train, y_train)
preds = rgs.predict(x_val)
print(f'MAE (lat and lon): {mean_absolute_error(y_val, preds)}')

MAE (lat and lon): 0.06002263648861613

## Предсказания:

In [5]:
test = pd.read_csv('test.csv')

In [8]:
preds = rgs.predict(test)
solution = pd.DataFrame({'id' : test['id'], 'score' : preds})
solution

        id     score
0     3084  0.112288
1     3085  0.139136
2     3086 -0.001920
3     3087  0.155017
4     3088  0.114612
...    ...       ...
1024  4108  0.120404
1025  4109  0.150150
1026  4110  0.160383
1027  4111  0.129394
1028  4112  0.083057

[1029 rows x 2 columns]